[project]
	description = A coding exercise
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Eric Drechsel (edrex)
[access "refs/for/refs/*"]
	read = group user/Eric Drechsel (edrex)
	push = group user/Eric Drechsel (edrex)
	label-Code-Review = -2..+2 group user/Eric Drechsel (edrex)
	label-Verified = -1..+1 group user/Eric Drechsel (edrex)
	rebase = group user/Eric Drechsel (edrex)
	removeReviewer = group user/Eric Drechsel (edrex)
	submit = group user/Eric Drechsel (edrex)
[access "refs/heads/*"]
	read = group user/Eric Drechsel (edrex)
	create = group user/Eric Drechsel (edrex)
	push = +force group user/Eric Drechsel (edrex)
	pushMerge = group user/Eric Drechsel (edrex)
[access "refs/tags/*"]
	push = +force group user/Eric Drechsel (edrex)
	pushTag = group user/Eric Drechsel (edrex)
	pushSignedTag = group user/Eric Drechsel (edrex)
