.user-chooser {
  max-width: 14em;
  position: absolute;
  border:4px solid white;
}
.user-chooser-user {
    display: flex;
    align-items: flex-start;
    background: cornsilk;
}
.user-chooser-user.is-selected {
    background: burlywood;
}
.user-chooser-user-avatar {
    height: 32px;
    margin: 4px;
}
.user-chooser-user-detail {
    flex: 1;
}